@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global background + text (Parchment + Charcoal) */
html, body, #__next {
  height: 100%;
}
body {
  background-color: #fefbf4; /* Parchment */
  color: #1e1e1e; /* Charcoal text */
}
